.button {
    background-color: black;
    color: white;
    width: 80px;
    height: 50px;
    border-radius: 7px;
}

.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.input { 
    border-radius: 10px;
    height: 20px;
    padding: 7px;
    border: 1px solid black;
}

.submit-button {
    color: white;
    background-color: blue;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100px;
}